.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* 
################### MASTER STYLING - PAGE WIDE DEFAULTS
 */
body {
 background-color: #e7e7e7; 
}

.appContainer{
background-color: #e7e7e7;
height: 100vh;
margin-left: 5%;
margin-right: 5%;
}
/* 
################################################ LOADING SCREEN 
 */

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    height: 200px;
    width: 200px;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(0, -50%);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* 
################### Forward & Backward Arrow Styling
 */
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.box-triangle-right {
 position:relative;
 width:50px;
 height:50px;
 background-color:#222;
 transform:translate(-14px, 0) rotate(45deg);
}

.box-triangle:before {
 content:'';
 position:absolute;
 width:35px;
 height:70px;
 background-color:#fff;
 transform:translate(-5px, 3px) rotate(-45deg); 
}

.arrowContainer {

}

i:hover{
  cursor: pointer;  
}

/* 
################### JUMBOTRON, SUBHEADER, AND FOOTER STYLING
 */

 .ulHeaderText {
  text-decoration: underline;
  display: inline;
 }

.braBanner {
  background: linear-gradient(to bottom right, #41184f, #814787);
  color: #e7e7e7;
  font-size: 24px;
  text-align: center;
  margin-bottom: 0;
}

#subHeader {

}

#lastQuestions {
  text-align:   center;
  font-weight:  bold;
}

#subHeaderText {
font-weight: bold;
font-size: 14px;
color: #814787;
padding-top:  10px;
}

#footer {
  border-top: 2px solid #41184f;
  padding: 10px;
  font-size: 8px;
}
/* 
################## DISCLAIMER
 */

#disclaimerText {
  background-color: white;
  padding: 10px;
}

#acceptTermsButton {
  display: block;
  margin: 0 auto;
}

/* 
################## SURVEY STYLING
 */

.surveySectionContainer {

}

 .surveyContainer {

 }

.sectionHeader {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* 
################### User input - Physique (height, weight, etc.) styling
 */
 #physiqueSectionContainer {
  text-align: center;
 }

.physiqueElementContainer {
margin-top: 10px;
margin-bottom: 10px;
}

 .physiqueLabel {
  
  width: 75px;
  text-align: left;
 }

.physiqueInput {
  border-color ease-in-out .15s,box-shadow ease-in-out .15s
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border: 1px solid #ccc;
  line-height: 1.42857143;
  padding: 6px 12px;
  display: inline;
  height: 34px;
  font-size: 14px;
}

.physiqueInput:focus {
  border: none;
}

.noRedBorder {

}

.redBorder {
  border: 1px solid red;
}

/* 
############################### Units Styling
 */

 #unitsLabel {
  text-align: left;
  width: 150px;
  left: 50%;
  right: 50%;
  margin-left: -55px;
 }

#unitsCheckBox {
  margin-bottom: -5px;
  right:  -55px;
}

/* 
############################### Bleeding section styling
 */
 #otherIndicatorsSectionContainer {
  text-align: center;
 }

#otherIndicatorsUL {

}

.checkboxElementContainer {
text-align: left;
display: block
}

.otherIndicatorsElementLabel {

}

.otherIndicatorsLabel {

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: 
#4caf50;
}

input:focus + .slider {
  box-shadow: 0 0 1px #
#4caf50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
 }


/* 
################## Forward & Backward Navigation Buttons
 */

 .forwardBackwardBtnContainer {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
 }

#priorButton {
  margin-right: 25px;
}

#nextButton, #runAnalysisButton {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  display: inline;
}

#runAnaylsisButton {
background-color: #41184f;
border: #814787;
}



/* 
################# Diagnostic drop-down menus
 */

 .diagnosticDDSelect {
width: 200px;
height:   25px;
 }


 /* 
################# Column styling for page component
  */

.oneCol {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  }
